body {
  background: var(--bg);
  color: var(--fg);
}

#contrast-checker-app {
  overflow: hidden;
  &.show-results {
    .initial-view {
      display: none;
    }

    #submitted-view {
      display: block;
    }
  }

  .introduction {
    padding-top: 80px;

    @media (max-width: 1200px) {
      padding-top: 40px;
    }

    h1 {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 4px;
        background: var(--color-gray-light);
        height: 1px;
        left: 0;
        z-index: -1;
      }
    }
  }

  .initial-view {
    display: block;
    margin-top: 64px;

    @media (max-width: 1200px) {
      margin-top: 40px;
    }

    .context {
      max-width: 512px;
      margin-bottom: 64px;

      @media (max-width: 1200px) {
        margin-bottom: 40px;
      }
      h2 {
        margin-bottom: 20px;
      }
    }
  }

  #color-picker-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }

  #submitted-view {
    display: none;

    h3 {
      margin-bottom: 10px;

      @media (max-width: 800px) {
        margin-bottom: 20px;
      }
    }

    .switch-group {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    margin-top: 64px;

    @media (max-width: 1200px) {
      margin-top: 40px;
    }

    .filters {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;

      &--left {
        // display: flex;
        align-items: center;
        gap: 20px;
        flex-flow: row wrap;

        label {
          font: 700 14px/18px var(--font-cir);
        }

        @media (max-width: 800px) {
          gap: 10px;
        }
      }

      &--right {
        max-width: 400px;
        width: 100%;
        flex: 1;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 75px;
      gap: 50px;
      flex-flow: row wrap;
      padding-bottom: 150px;

      @media (max-width: 800px) {
        padding-bottom: 80px;
        margin-top: 40px;
      }
    }
  }
}
