:root {
  --layout-max-width: 1062px;
}

.wrap {
  max-width: var(--layout-max-width);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1200px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
