#contrast-results-grid {
  margin-top: 40px;

  h4 {
    margin-bottom: 30px;
  }

  .results-group {
    display: none;

    &.show {
      display: block;
    }
  }

  .results {
    // grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    // display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 75px;

    @media (max-width: 800px) {
      margin-bottom: 40px;
    }

    .result {
      $fg: var(--fg);
      $bg: var(--bg);

      cursor: pointer;
      background: var(--color-black);
      height: 125px;
      width: 160px;
      border-radius: 4px;
      position: relative;
      background-color: $bg;
      color: $fg;
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      @media (min-width: 800px) {
        &:hover {
          transform: translateY(-4px) scale(1.6);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 10;
        }

        &:hover .result-details {
          opacity: 1;
        }

        &:hover .result-label {
          opacity: 0;
        }
      }

      @media (max-width: 800px) {
        width: 210px;
        height: 168px;
      }

      @media (max-width: 475px) {
        width: 375px;
        height: 168px;
      }

      span.result-label {
        font: 400 40px/1 var(--font-cir);
        color: $fg;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 800px) {
          opacity: 0;
        }
      }

      span.result-border {
        border: 1px solid var(--color-white);
        border-color: $fg;
        position: absolute;
        inset: 4px;
        border-radius: 4px;
        transition: all 0.3s ease;
      }

      .result-details {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        font-size: 10px;
        color: $fg;
        opacity: 0;
        width: calc(100% - 32px);

        @media (max-width: 800px) {
          opacity: 1;
        }

        .result-ratio {
          font: 700 18px/20px var(--font-cir);
          margin-bottom: 8px;
          display: block;

          @media (max-width: 800px) {
            font-size: 18px * 1.6;
            line-height: 20px * 1.6;
          }
        }

        .colors {
          display: flex;
          gap: 10px;
          justify-content: space-between;

          .color {
            display: flex;
            gap: 5px;
            align-items: center;

            label {
              font: 400 6px/8px var(--font-cir);
              color: $fg;

              @media (max-width: 800px) {
                font-size: 6px * 1.6;
                line-height: 8px * 1.6;
              }
            }
          }

          .swatch {
            display: block;
            width: 21px;
            height: 21px;
            border: 1px solid $bg;
            border-radius: 4px;
            flex-shrink: 0;

            &.fg {
              background-color: $fg;
            }

            &.bg {
              border-color: $fg;
            }
          }
        }

        table {
          width: 100%;
          margin-top: 5px;

          td {
            font: 500 8px/8px var(--font-cir);
            letter-spacing: 0.02em;

            @media (max-width: 800px) {
              font-size: 8px * 1.6;
              line-height: 8px * 1.6;
            }

            svg {
              display: inline;
              align-self: center;
              margin-right: 4px;
            }
          }

          td:nth-child(2),
          td:nth-child(3) {
            text-align: right;
          }
        }
      }
    }
  }
}
