#contrast-results-grid {
  margin-top: 40px;

  h4 {
    margin-bottom: 30px;
  }

  .results-group {
    display: none;

    &.show {
      display: block;
    }
  }

  .results {
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    gap: 20px;
    margin-bottom: 75px;

    // &--fail {
    //   .result:hover {
    //     .result-border {
    //       background: var(--color-white);
    //     }
    //   }

    //   .result {
    //     .result-details {
    //       .colors {
    //         .swatch {
    //           border-color: var(--color-white) !important;
    //         }
    //       }
    //     }
    //   }

    //   .result--white-fg:hover {
    //     .result-border {
    //       background: var(--color-black);
    //     }
    //   }

    //   .result--white-fg {
    //     .result-details {
    //       .colors {
    //         .swatch {
    //           border-color: var(--color-black) !important;
    //         }
    //       }
    //     }
    //   }
    // }

    .result {
      $fg: var(--fg);
      $bg: var(--bg);

      cursor: pointer;
      background: var(--color-black);
      height: 125px;
      border-radius: 4px;
      position: relative;

      background-color: $bg;
      color: $fg;

      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-4px) scale(1.6);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 10;
      }

      span.result-label {
        font: 400 40px/1 var(--font-cir);
        color: $fg;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      span.result-border {
        border: 1px solid var(--color-white);
        border-color: $fg;
        position: absolute;
        inset: 4px;
        border-radius: 4px;
        transition: all 0.3s ease;
      }

      &:hover .result-details {
        opacity: 1;
      }

      &:hover .result-label {
        opacity: 0;
      }

      .result-details {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        font-size: 10px;
        color: $fg;
        opacity: 0;
        width: calc(100% - 32px);

        .result-ratio {
          font: 700 18px/20px var(--font-cir);
          margin-bottom: 8px;
          display: block;
        }

        .colors {
          display: flex;
          gap: 10px;
          justify-content: space-between;

          .color {
            display: flex;
            gap: 5px;
            align-items: center;

            label {
              font: 400 6px/8px var(--font-cir);
              color: $fg;
            }
          }

          .swatch {
            display: block;
            width: 21px;
            height: 21px;
            border: 1px solid $bg;
            border-radius: 4px;
            flex-shrink: 0;

            &.fg {
              background-color: $fg;
            }

            &.bg {
              border-color: $fg;
            }
          }
        }

        table {
          width: 100%;
          margin-top: 5px;

          td {
            font: 500 8px/8px var(--font-cir);
            letter-spacing: 0.02em;

            svg {
              display: inline;
              align-self: center;
              margin-right: 4px;
            }
          }

          td:nth-child(2),
          td:nth-child(3) {
            text-align: right;
          }
        }
      }
    }
  }
}
