#selected-colors {
  width: 80px;
  position: fixed;
  top: 50%;
  left: 0;
  background: #e4e4e4;
  transform: translateY(-50%);
  padding-bottom: 20px;
  border-radius: 0 5px 5px 0;

  @media (max-width: 1200px) {
    top: unset;
    bottom: 0;
    transform: unset;
    width: 100%;
    display: flex;
    padding: 0.25rem 0;
  }

  #toggle-selected-colors-button {
    width: 60px;
    background: #5e9ad1;
    height: 42px;
    appearance: none;
    border: 0;
    position: relative;
    top: -14px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #5e9ad1;
    margin-bottom: -20px;

    @media (max-width: 1200px) {
      margin: 0;
      width: 42px;
      top: 0;

      &::after {
        display: none;
      }
    }

    svg {
      position: absolute;
      right: -10px;
      z-index: 1;
      top: calc(50% + 1px);
      transform: translate(-50%, -50%);

      @media (max-width: 1200px) {
        inset: 0;
        margin: auto;
        transform: unset;
      }
    }

    &::after {
      position: absolute;
      content: "";
      left: 100%;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 41px;
      height: 41px;
      border-radius: 100%;
      background: #5e9ad1;
    }
  }

  h4 {
    padding: 0 18px;
    font: 400 12px/14px var(--font-cir);
    letter-spacing: 0;
    margin-bottom: 8px;
    text-transform: unset;
    color: #000000;

    @media (max-width: 1200px) {
      margin: 0;
      align-self: center;
      font-size: 15px;
      line-height: 15px;
    }

    @media (max-width: 800px) {
      display: none;
    }
  }

  #selected-colors-list {
    display: flex;
    gap: 10px;
    padding: 0 18px;
    flex-direction: column;

    @media (max-width: 1200px) {
      flex-direction: row;
      padding: 0 8px;
      gap: 8px;
      overflow-x: auto;
    }

    .swatch {
      height: 42px;
      width: 42px;
      border-radius: 4px;
      appearance: none;
      border: 0;
      cursor: pointer;
      background: var(--bg);
      color: var(--fg);
      border: 1px solid #e3e3e3;
      font: 400 7px/10px var(--font-cir);
      text-transform: uppercase;
      position: relative;
      flex-shrink: 0;

      &::after {
        content: "";
        background: url("data:image/svg+xml,%3Csvg width='7' height='6' viewBox='0 0 7 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 0.5L5.72 5.37' stroke='%23C9C9C9' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M5.72 0.5L0.5 5.37' stroke='%23C9C9C9' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A")
          center/contain no-repeat;
        color: #000000;
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        inset: 0;
        margin: auto;
        opacity: 0;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
        font-size: 0;
      }
    }
  }
}
